{% extends "base.html"%}
{%block content%}
    <main>
        <div class="link-container">
            <a href="/oyakabuadd" class="link">親株登録</a>
            <a href="/kouhaiadd" class="link">交配情報登録</a>
            <a href="/yearlist" class="link">交配日誌</a>
            <form action="/kouhaikokabuadd" class="search-form" method="get">
                <input name="KokabuId" type="text" placeholder="検索キーワードを入力してください">
                <input type="submit" value="検索" class="register-btn">
            </form>
        </div>
    </main>
{% endblock %}
