{% extends "base.html"%}
{%block content%}

                <!-- 戻るボタン -->
                <div class="oyakabu-container">
                    <button type="button" onclick="goBack()" class="back-btn">戻る</button>
                    </div>
                    <!-- 戻るボタン終わり -->

    <main class="main">

        <form action="/kouhaiupload" method="POST" enctype="multipart/form-data">
            <section class="flower-selection-section">
                <div class="flower-selector male-flower">
                    <label for="male-flower-select">雄花の選択</label>
                    <img src="" alt="Selected Male Flower" class="flower-image" style="max-width: 200px; max-height: 200px;">
                    <select name="OkabuId" id="male-flower-select" class="flower-select" >
                        <option value="">雄株のタグIDを選択</option>
                        {% for OkabuId in OkabuIds %}
                            <option value="{{ OkabuId['tgid'] }}" data-image="{{ OkabuId['image'] }}">{{ OkabuId['tgid'] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="flower-selector female-flower">
                    <label for="female-flower-select">雌花の選択</label>
                    <img src="" alt="Selected Female Flower" class="flower-image" style="max-width: 200px; max-height: 200px;">
                    <select name="MekabuId" id="female-flower-select" class="flower-select">
                        <option value="">雌株のタグIDを選択</option>
                        {% for MekabuId in MekabuIds %}
                            <option value="{{ MekabuId['tgid'] }}" data-image="{{ MekabuId['image'] }}">{{ MekabuId['tgid'] }}</option>
                        {% endfor %}
                    </select>
                </div>
            </section>
            <div  class="remarks-section">
                <textarea name="remarks" class="remarks" placeholder="備考"></textarea>
                <input type="submit" value="登録" class="register-btn">
            </div>
        </form>
      

   
    </main>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('male-flower-select').addEventListener('change', function() {
                var selectedOption = this.options[this.selectedIndex]; // 選択された<option>要素を取得
                var imageUrl = selectedOption.getAttribute('data-image'); // data-image属性から画像のURLを取得
                imageUrl = "../static/img/"+ imageUrl
                document.querySelector('.male-flower .flower-image').src = imageUrl; // 画像のURLを<img>のsrcに設定
            });
    
            document.getElementById('female-flower-select').addEventListener('change', function() {
                var selectedOption = this.options[this.selectedIndex];
                var imageUrl = selectedOption.getAttribute('data-image');
                imageUrl = "../static/img/"+ imageUrl
                document.querySelector('.female-flower .flower-image').src = imageUrl;
            });
        });
    </script>

   <!-- 戻るjscript -->
   <script>
    function goBack() {
        window.history.back();
    }

    function previewImage() {
        var preview = document.getElementById('image-preview');
        var file = document.getElementById('image-upload').files[0];
        var reader = new FileReader();

        reader.onloadend = function () {
            preview.src = reader.result;
        };

        if (file) {
            reader.readAsDataURL(file);
        } else {
            preview.src = "";
        }
    }
</script>
    
{% endblock %}
