{% extends "base.html"%}
{%block content%}
<header>
    <!-- Header content here -->
</header>

    

       
    
        <main class="main hybrid-info-registration">
        <div class="parent-plant-images">
            <div class="male-plant plant-image-link">
                <a href="/syousai/{{OkabuId}}" class="plant-image-link">
                    <img src="../static/img/{{OkabuImage}}" alt="雄株の写真" style="max-width: 200px; max-height: 200px;">
                    <p>雄株ID:{{OkabuId}}</p>
                </a>
            </div>
            <div class="female-plant plant-image-link">
                <a href="/syousai/{{MekabuId}}" class="plant-image-link">
                    <img src="../static/img/{{MekabuImage}}" alt="雌株の写真" style="max-width: 200px; max-height: 200px;">
                    <p>雌株ID:{{MekabuId}}</p>
                </a>
            </div>
        </div>
        <div class="offspring-images">
            <!-- flaskのfor文を用いた子株の写真表示 -->
            {% for KokabuImage in KokabuImages %}
            <div class="offspring-plant">
                    <img src="{{ url_for('static', filename='img/' + KokabuImage) }}" alt="子株の写真" style="max-width: 150px; max-height: 150px;">
            </div>
            {% endfor %}
        </div>
            <form action="/kokabuupload" method="POST" enctype="multipart/form-data">
                <fieldset class="image-upload-section">
                    <legend>画像ファイル</legend>
                    <img id="image-preview" src="" alt="画像プレビュー" style="max-width: 200px; max-height: 200px;">
                    <label for="image-upload" class="upload-label">画像をアップロード</label>
                    <input name="image" type="file" id="image-upload" class="image-upload" accept="image/jpeg,image/png,image/jpeg,image/jpg" required onchange="previewImage();">
                </fieldset>

                <fieldset class="plant-info-section">
                    <legend>カテゴリ選択:</legend>
                    <select name="color" class="plant-info-select" required>
                        <option value="">花色を選択</option>
                        <option value="パープル">パープル</option>
                    <option value="クリーム">クリーム</option>
                    <option value="ホワイト">ホワイト</option>
                    <option value="イエロー">イエロー</option>
                    <option value="グリーン">グリーン</option>
                    <option value="アプリコット">アプリコット</option>
                    <option value="ピンク">ピンク</option>
                    <option value="レッド">レッド</option>
                    <option value="白ブラック">ブラック</option>
                    <option value="グレー">グレー</option>
                        <!-- 花色の選択肢 -->
                    </select>
                    <select name="pattern" class="plant-info-select" required>
                        <option value="">模様を選択</option>
                        <option value="ノンスポット">ノンスポット</option>
                        <option value="スポット">スポット</option>
                        <option value="フラッシュ">フラッシュ</option>
                        <option value="アイ">アイ</option>
                        <option value="ブロッチ">ブロッチ</option>
                        <option value="ベイン">ベイン</option>
                        <option value="ピコティ">ピコティ</option>
                        <option value="バイカラー">バイカラー</option>
                        <option value="ネット">ネット</option>
                        <!-- 模様の選択肢 -->
                    </select>
                    <select name="blooming" class="plant-info-select" required>
                        <option value="">咲き方を選択</option>
                        <option value="シングル">シングル</option>
                        <option value="セミダブル">セミダブル</option>
                        <option value="ダブル">ダブル</option>
                        <!-- 咲き方の選択肢 -->
                    </select>
                    <select name="shape" class="plant-info-select" required>
                        <option value="">形状を選択</option>
                        <option value="丸弁">丸弁</option>
                        <option value="剣弁">剣弁</option>
                        <!-- 形状の選択肢 -->
                    </select>

                    <legend >備考:</legend>
                    <textarea name="remarks" class="remarks" placeholder="備考"></textarea>
                    <input type="submit" value="アップロード" class="register-btn">
                    <input name="KokabuId" type ="hidden" value = "{{KokabuId}}" >
                </fieldset>
            </form>
    </main>

    <script>
        function previewImage() {
            var preview = document.getElementById('image-preview');
            var file = document.getElementById('image-upload').files[0];
            var reader = new FileReader();
    
            reader.onloadend = function () {
                preview.src = reader.result;
            };
    
            if (file) {
                reader.readAsDataURL(file);
            } else {
                preview.src = "";
            }
        }
        </script>




{% endblock %}
