{% extends "base.html"%}
{% block content %}
<div class="oyakabu-container">
    <a href="/yearlist/datelist/{{year}}">
        <button type="button" class="back-btn">戻る</button>
    </a>
</div>

<main class="main" style="margin: 20px auto; max-width: 800px;">
    <!-- 日付の表示 -->
    <div class="date-display" style="text-align: center;">
        <h2>{{ date }}</h2>
    </div>
    <div class="breeding-info-container">
        <!-- breeding_infos の各要素に対してループ -->
        {% for KokabuId in KokabuIds %}
        <div class="breeding-info">
            <p>{{ KokabuId }}</p>
            <!-- OkabuImage と MekabuImage をそれぞれ表示 -->
            <a href="/syousai/{{ OkabuId[KokabuId] }}/{{ KokabuId }}?ref=kouhailist" class="plant-image-link">
                <img src="{{ url_for('static', filename='img/' + OkabuImages[KokabuId]) }}" alt="雄株の写真" class="plant-image">
            </a>
            <a href="/syousai/{{ MekabuId[KokabuId] }}/{{ KokabuId }}?ref=kouhailist" class="plant-image-link">
                <img src="{{ url_for('static', filename='img/' + MekabuImages[KokabuId]) }}" alt="雌株の写真" class="plant-image">
            </a>
            <!-- 子株の写真（未使用） -->
            <div class="offspring-images">
                {% for KokabuImage in KokabuImages[KokabuId] %}
                    <img src="{{ url_for('static', filename='img/' + KokabuImage) }}" alt="子株の写真" class="plant-image">
                {% endfor %}
            </div>
        </div>
        <hr class="separator"> <!-- リスト間の横線 -->
        {% endfor %}
    </div>
</main>

{% endblock %}
